:root{
    --theme-primary : 118, 241, 46 ;
    --bs-primary : #3F7E1B;
}
.text-primary{
    color : rgb(var(--theme-primary)) !important;
}
.btn-primary{
    background-color: rgb(var(--theme-primary)) !important;
    border-color: rgb(var(--theme-primary)) !important;
}



.button{
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(var(--theme-primary));
    border-color: rgb(var(--theme-primary));
}

.button:hover{
    transition: 0.5s;
    background-color: white ;
}
#inscription{
    color : rgb(var(--theme-primary))
}
.position-relative .mx-auto label{
    margin-top: 10px;
}

 .py-5{
    justify-content: center;
}
.inscription_form{
    border-color: rgb(var(--theme-primary));
    box-shadow: 2px 2px 2px  2px rgb(var(--theme-primary));
    height: max-content;    
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.inscription_form h1{
    text-align: center;
}

.btn_inscrip{
    background-color: rgb(var(--theme-primary));
    border-color: rgb(var(--theme-primary)) ;
}
.btn_inscrip:hover {
    transition: 0.5s;
    backgroung-color: white;
}
